<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fornari.eduardo.avaliacoes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AvaliacoesActivity"
            android:label="@string/title_activity_avaliacoes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisciplinasActivity"
            android:label="@string/title_activity_disciplinas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisciplinaActivity"
            android:label="@string/title_activity_disciplina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvaliacaoActivity"
            android:label="@string/title_activity_avaliacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TiposAvaliacaoActivity"
            android:label="@string/title_activity_tipos_de_avaliacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TipoAvaliacaoActivity"
            android:label="@string/title_activity_tipo_avaliacao"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>